body {
  font-family: 'Lato', sans-serif;
  color: #848789;
  background-color: #f7f7f7;
  font-size: 16px;
  &.lock {
    overflow: hidden;
  }
}
.container {
  max-width: 1105px;
  padding: 0px 15px;
  box-sizing: content-box;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
