.footer {
  background-color: #cfcbcb;
  padding: 100px 0px;
  @media screen and (max-width: 1100px) {
    padding: 50px 0px;
  }
  @media screen and (max-width: 600px) {
    padding: 30px 0px;
  }
  &__row {
    display: flex;

    align-items: center;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__column {
    flex: 0 1 33.333%;
  }

  &__address {
    padding: 0px 20px 0px 0px;
    color: #848789;
    font-size: 14px;
    line-height: 18px;
    & p:first-child {
      font-weight: 700;
    }
    @media screen and (max-width: 600px) {
      padding: 0px 0px 0px 0px;
    }
  }

  &__social {
    @media screen and (max-width: 600px) {
      margin: 15px 0px;
    }
  }

  &__dev {
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  &__link {
    margin: 0px 7.5px;
  }
}
.dev {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__text {
    color: #848789;
    font-size: 14px;
    font-style: italic;
  }

  &__icon {
    margin-left: 9px;
  }
}
