.main-screen {
  flex: 1 0 100%;
  position: relative;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.content {
}

.generation {
  padding: 120px 0px;
  @media screen and (max-width: 886px) {
    padding: 90px 0px;
  }
  @media screen and (max-width: 600px) {
    padding: 50px 0px;
  }
  @media screen and (max-width: 400px) {
    padding: 30px 0px;
  }
}

.block {
  text-align: center;
  &__icon {
    margin: 0px 0px 33px 0px;
  }

  &__title {
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-bottom: 18px;
    line-height: 24px;
  }

  &__text {
    font-size: 18px;
    line-height: 34px;
    &_j {
      text-align: justify;
      font-size: 16px;
      line-height: 30px;

      &::after {
        content: ' ';
        display: block;
        margin: 35px auto 0 auto;
        width: 50px;
        height: 1px;
        background-color: #85888a;

        @media screen and (max-width: 1500px) {
          width: 30px;
          margin: 25px auto 0 auto;
        }
      }
    }
  }
}

.brands {
  &_rev {
    .brands__column {
      order: 1;
      &_b {
        order: 2;
      }
    }
  }

  &__row {
    display: flex;
    @media screen and (max-width: 1100px) {
      flex-direction: column;
    }
  }

  &__column {
    flex: 0 1 33.333%;
    &_b {
      flex: 0 1 66.667%;
    }
  }
  &__column_r {
    @media screen and (max-width: 1100px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__item {
  }

  &__content {
    padding: 70px 65px 55px 65px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translate(-50%, 0px);
      z-index: 1;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid rgb(255, 255, 255);
    }

    @media screen and (max-width: 1500px) {
      padding: 40px 35px 35px 35px;
    }
  }

  &__image {
    padding-bottom: 37.51%;
  }
  &__image_remove {
    @media screen and (max-width: 1100px) {
      display: none;
    }
  }
  &__block {
    height: 100%;
    position: relative;
  }
}

.item {
  height: 100%;
  display: block;
  position: relative;
  &__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 194, 158, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease 0s;
    flex-direction: column;
    & span {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2.8px;
      text-transform: uppercase;
      color: #ffffff;
      margin-top: 10px;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &:hover {
    .item__logo {
      visibility: visible;
      opacity: 1;
    }
  }

  @media screen and (max-width: 1100px) {
    height: auto;
    padding-bottom: 70%;
  }
}

// .slider {
//   padding: 120px 0px 60px 0px;
//   &__body {
//   }

//   &__item {
//   }

//   &__icon {
//     margin-bottom: 20px;
//   }

//   &__title {
//     margin-bottom: 20px;
//     color: #353738;
//     font-size: 18px;
//     font-weight: 700;
//     & span {
//       font-weight: 300;
//     }
//   }

//   &__text {
//     text-align: center;
//     font-size: 24px;
//     font-style: italic;
//     line-height: 34px;
//   }
// }

.shop {
  &__body {
    display: flex;
    @media screen and (max-width: 1100px) {
      flex-wrap: wrap;
    }
  }

  &__column {
    flex: 0 1 16.666%;
    @media screen and (max-width: 1100px) {
      flex: 0 1 50%;

      &:first-child {
        flex: 1 1 100%;
      }
      &:last-child {
        flex: 1 1 100%;
      }
    }
    &_b {
      flex: 0 1 33.333%;
    }
  }

  &__block {
  }

  &__footer {
    background-color: #282f35;
    padding: 75px 0px;
    text-align: center;
    @media screen and (max-width: 1100px) {
      padding: 50px 0px;
    }
  }

  &__btn {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 2.8px;
    padding: 0px 60px;
    font-weight: 700;
    min-height: 50px;
    line-height: 48px;

    @media screen and (max-width: 1100px) {
      padding: 0px 30px;
    }
  }
}
.block-shop {
  height: 100%;
  &__row {
    display: flex;
  }

  &__column {
    flex: 0 1 50%;
  }

  &__item {
    padding-bottom: 50%;
    height: auto;
    &_b {
      padding-bottom: 200.3%;
    }
    &_l {
      padding-bottom: 100%;
    }
  }
}

.subscribe {
  &__body {
    padding: 110px 0px;
    max-width: 534px;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: 750px) {
      padding: 50px 0px;
    }
  }

  &__logo {
    margin: 0px 0px 39px 0px;
  }

  &__label {
    color: #848789;
    font-size: 24px;
    font-style: italic;
    margin-bottom: 35px;
  }

  &__form {
    display: flex;
    @media screen and (max-width: 500px) {
      display: block;
    }
  }

  &__input {
    flex: 1 1 auto;
    padding-right: 8px;
    & input {
      width: 100%;
      height: 69px;
      border: 1px solid #d3d7d9;
      padding: 0px 28px;
      color: #929292;
      font-size: 20px;
      font-style: italic;
      line-height: 24px;
    }
    @media screen and (max-width: 500px) {
      padding: 0px 0px 8px 0px;
    }
  }

  &__button {
    flex: 0 0 126px;
  }

  &__btn {
    width: 100%;
    line-height: 69px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #64c29e;
  }
}
